<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/coconutstickyrice">Coconut Sticky Rice</a>. A budding web developer who is on a mission tolearn the technical skills needed to launch my own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    I plan to build usable and useful products and eat coconut sticky rice to my heart content. 
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'csr.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Coconut Sticky Rice</h2>
      <br />
      <p>Many people first encounter sticky rice in this classic Thai-Lao sweet. Most are astonished and delighted and immediately want to know how to make it at home. The recipe is very simple.
        <br />
        <br />
      As with most of the sweets in Southeast Asia, you can eat Coconut Milk Sticky Rice as a snack or serve it as dessert. (<a target="_blank" href="https://www.epicurious.com/recipes/food/views/coconut-milk-sticky-rice-with-mangoes-233842">Epicurious</a>).
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
</div>